# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor / IDE settings
.vscode/
.idea/
